{% extends 'bootstrap/base.html' %}

{% block title %}Genre classifier demo{% endblock %}

{% block content %}
<body style="background-image: url({{ url_for('static', filename='background2.jpg') }}); background-size: 100% 720px">
    <form action="{{ url_for('index_page') }}" method=post style="margin: 10px">
        <dl>
            <dd align=middle><img style="margin:30px 0px 0px" src="{{ url_for('static', filename='witch.gif') }}" >
            <dd align=middle><h1 style="color: aliceblue; text-shadow: -2px 2px black">What genre of the dialogue?</h1>
            <dd align=middle><textarea style="width: 55%; height: 100px" name=text placeholder="Enter dialogue here...">{{ text }}</textarea>
            <dd align=middle><input style="height:50px; width:200px; font-size: 25px; font-weight: bold" class="btn btn-danger" type=submit value="GO!">
            <table class="table" align="center" style="width: 60%; color: aliceblue">
                <thead>
                    <tr style="font-size: 20px">
                        <th style="text-align: center; font-weight: unset; text-shadow: -1px 1px black">genre</th>
                        <th style="text-align: center; font-weight: unset; text-shadow: -1px 1px black">confidence degree</th>
                        <th style="text-align: center; font-weight: unset; text-shadow: -1px 1px black">percentage</th>
                    <tr>
                </thead>
                <tbody>
                    {% for message in prediction_message %}
                    <tr>
                        <td>{{ message[0] }}</td>
                        <td>{{ message[1] }}</td>
                        <td>{{ message[2] }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </dl>
    </form>
</body>
{% endblock %}